/* 公共头部样式 */
header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0px 0px 5px #cecfcf inset;
}
header .wrap {
  width: 1000px;
  margin: 0 auto;
}
header .wrap .logo {
  padding-top: 10px;
  float: left;
}
header .wrap .logo img {
  width: 132px;
  vertical-align: top;
}
header .wrap nav {
  float: left;
  padding: 30px 0px 0px 40px;
}
header .wrap nav li {
  float: left;
  padding: 0px 25px;
}
header .wrap nav li .on {
  color: #fe5341;
}
header .wrap nav li a {
  color: #333333;
  transition: color 0.2s ease;
  font-size: 20px;
}
header .wrap nav li a:hover {
  color: #fe5341;
}
header .wrap .r_search {
  width: 130px;
  float: right;
}
header .wrap .r_search .search {
  background: url(../img/icon/search.png) no-repeat;
  transition: transform 0.1s ease;
  width: 45px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin-top: 29px;
  float: right;
}
header .wrap .r_search .search:hover {
  transform: scale(1.1);
}
header .wrap .r_search .login {
  color: #fe5341;
  transition: all 0.2s linear;
  float: right;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  margin-top: 25px;
  border: 1px solid #fe5341;
}
header .wrap .r_search .login:hover {
  background-color: #fe5341;
  color: white;
}
/* 公共头部样式结束 */
/* 公共底部样式 */
footer {
  background-color: #505050;
  color: #a3a3a3;
  padding: 40px 0px 15px;
}
footer a {
  color: #a3a3a3;
}
footer .tfoot {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}
footer .tfoot dl {
  float: left;
  font-size: 13px;
  padding-left: 20px;
  line-height: 20px;
}
footer .tfoot dl dd {
  margin: 0;
}
footer .tfoot dl:nth-child(2) dd:nth-of-type(2) {
  margin-top: 13px;
}
footer .tfoot dl:nth-child(4) dd a {
  display: inline-block;
  width: 70px;
}
footer .tfoot dl dt {
  color: white;
  font-size: 16px;
  padding-bottom: 25px;
}
footer .tfoot dl dt img {
  vertical-align: top;
}
footer .tfoot dl:nth-child(1) {
  padding-left: 0px;
}
footer .tfoot dl:nth-child(2) {
  width: 140px;
}
footer p {
  text-align: center;
  padding-top: 300px;
  width: 100%;
  font-size: 13px;
}
/* 公共底部样式结束 */
