/* 标题部分 */
.title {
  width: 100%;
  height: 170px;
  color: #333333;
  margin: 0px auto;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.title p {
  font-size: 40px;
  margin: 40px 0px 38px 0px;
}
.title ul {
  display: inline-block;
  width: auto;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
}
.title ul li {
  float: left;
  width: 165px;
  height: 100%;
  box-sizing: border-box;
}
.title ul li a {
  font-size: 18px;
  color: #a3a3a3;
}
.active {
  border-bottom: 4px solid #fe5431;
}
.active_a {
  color: #fe5431 !important;
}
/* 加载更多部分 */
.loading {
  margin: 0px auto;
  text-align: center;
  background-color: #f7f7f7;
  padding: 50px 0px;
}
.loading a {
  display: inline-block;
  width: 130px;
  color: #fe5431;
  text-indent: 1em;
}
.loading .more {
  background-image: url(../img/icon/more.png);
  background-repeat: no-repeat;
  background-position: 5px 8px;
}
.loading .under {
  background-image: url(../img/icon/loading-icon.gif);
  background-repeat: no-repeat;
  background-position: 5px 1px;
  display: none;
}
