/* 报告页最热 主体部分 样式 */
.main {
  background-color: #f7f7f7;
  height: 2625.5px;
  width: 100%;
}
.main .report_box {
  width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
}
.main .report_box .main_left {
  width: 700px;
  float: left;
}
.main .report_box .main_left li {
  border-radius: 6px;
  border: 1px solid #e6e9e9;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.main .report_box .main_left li a {
  display: block;
}
.main .report_box .main_left li a:hover img {
  animation: shade 1.2s infinite ease;
}
.main .report_box .main_left li a img {
  width: 700px;
  height: 412px;
  border-radius: 6px;
  vertical-align: top;
}
.main .report_box .main_left li a .message {
  background-color: #f8f6f5;
  opacity: 0.9;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 22px;
}
.main .report_box .main_left li a .message p {
  color: #474747;
  font-size: 18px;
  padding: 15px 0px 12px;
}
.main .report_box .main_left li a .message .user {
  font-size: 13px;
  padding: 20px 0px 35px ;
}
.main .report_box .main_left li a .message .user .userInfo {
  float: left;
}
.main .report_box .main_left li a .message .user .userInfo span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.main .report_box .main_left li a .message .user .userInfo .usericon {
  background: url(../img/icon/tx.jpg) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.main .report_box .main_left li a .message .user .userInfo .name {
  color: #fe695a;
}
.main .report_box .main_left li a .message .user .userInfo .time {
  color: #a3a3b3;
}
.main .report_box .main_left li a .message .user .like {
  float: right;
  color: #a3a3a3;
}
.main .report_box .main_left li a .message .user .like .zan {
  background: url(../img/icon/zan.png) no-repeat left center;
}
.main .report_box .main_left li a .message .user .like .comment {
  background: url(../img/icon/reply.png) no-repeat left center;
}
.main .report_box .main_left li a .message .user .like span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  margin-left: 3px;
}
.main .report_box .main_left li .look {
  color: #a3a3a3;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}
.main .report_box .main_right {
  width: 270px;
  height: 20px;
  float: right;
}
.main .report_box .main_right h2 {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  height: 25px;
  padding-left: 30px;
  line-height: 25px;
  color: #474747;
}
.main .report_box .main_right h2::after {
  background-color: #fe5341;
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 25px;
  left: 0px;
  top: 0px;
}
.main .report_box .main_right img {
  margin-top: 20px;
}
.main .report_box .main_right .info {
  margin: 10px 0px 20px;
}
.main .report_box .main_right .info h5 {
  font-size: 16px;
  color: #474747;
  padding: 10px 0px;
}
.main .report_box .main_right .info .text {
  color: #a3a3a3;
  font-size: 14px;
}
.main .report_box .main_right .focus {
  padding-top: 40px;
}
