.main {
  background-color: #f7f7f7;
  height: 5100px;
}
.main .shop {
  background-color: #f7f7f7;
}
.main .shop .shop_main {
  width: 1000px;
  margin: 0 auto;
}
.main .shop .shop_main .guide {
  color: #a3a3a3;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}
.main .shop .shop_main .guide a {
  color: #a3a3a3;
}
.main .shop .detleft {
  float: left;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 25px;
  width: 700px;
}
.main .shop .detleft .top {
  padding: 25px;
  border-bottom: 1px #e0e0e0 solid;
}
.main .shop .detleft .top h1 {
  font-weight: 400;
  font-size: 26px;
}
.main .shop .detleft .top .user {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
}
.main .shop .detleft .top .user span:nth-of-type(3) {
  float: right;
  font-size: 12px;
  color: #a3a3b8;
}
.main .shop .detleft .top .user span {
  font-size: 12px;
  color: #a3a3b8;
}
.main .shop .detleft .top .user .usericon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: url(../img/icon/tx.jpg) no-repeat;
  background-size: contain;
}
.main .shop .detleft .bottom {
  padding: 25px;
  font-size: 13px;
}
.main .shop .detleft .bottom h4 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.main .shop .detleft .bottom .p1 {
  line-height: 27px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .shop .detleft .bottom a {
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #a3a3a3;
  line-height: 5px;
}
.main .shop .detright {
  float: right;
  width: 270px;
  height: 110px;
  border-radius: 6px;
  border: 2px solid #ebeaea;
  overflow: hidden;
}
.main .shop .detright a {
  height: 100%;
  text-align: center;
  line-height: 25px;
  float: left;
  background-color: white;
  font-size: 15px;
  color: #a3a3a3;
}
.main .shop .detright a::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background: url(../img/icon/xinRedo.png) no-repeat 55px 28px;
}
.main .shop .detright a:nth-of-type(2)::before {
  background: url(../img/icon/share_yj1.png) no-repeat 55px 28px;
}
.main .shop .detright a:hover {
  color: #fe5341;
}
.main .shop .detright a:hover:nth-of-type(1)::before {
  background: url(../img/icon/xinRedh.png) no-repeat 55px 28px;
}
.main .shop .detright a:hover:nth-of-type(2)::before {
  background: url(../img/icon/shareh_yj1.png) no-repeat 55px 28px;
}
.main .shop .detright .like {
  width: 132px;
  border-right: 2px solid #ebeaea;
}
.main .shop .detright .share {
  width: 135.8px;
}
